<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <!-- Agregamos Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
        .prueba5 {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(13, 200, 16, 0.575);
            padding: 20px;
            margin-bottom: 20px;
        }
        .prueba5 img {
            max-width: 100%;
            height: auto;
            /* Establecer un tamaño mediano para la imagen */
            width: 300px;
            height: 300px;
            /* Centrar la imagen horizontalmente */
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .prueba5 h2 {
            margin-top: 0;
        }
        .prueba5 p {
            margin-bottom: 10px;
        }
        .btn {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-success bg-success">
        <div class="container">
            <a class="nav-link" href="/principalCliente" style="color: white;">Inicio</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            
                <a href="/mostrarCarrito" class="btn btn-outline-light">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5a.5.5 0 0 1 .5-.5h1a2.5 2.5 0 0 1 2.164 1.25l.672 1.341h6.328a.5.5 0 0 1 .416.777l-1.5 3a.5.5 0 0 1-.416.223h-5.25a1.5 1.5 0 1 0 0 3h2.5a.5.5 0 0 1 .416.777l-1.5 3a.5.5 0 0 1-.416.223H2.5a.5.5 0 0 1-.485-.379L1.078 10.5H1.5a3.5 3.5 0 0 1 3.163 2.1l.614 1.228a1 1 0 0 0 .894.572h5.636a1 1 0 0 0 .894-.572l.614-1.228A3.5 3.5 0 0 1 14.5 10h.422l1.113-2.225a.5.5 0 0 1 .485-.379h1a.5.5 0 0 1 0 1h-0.28l-1.053 2.105a2.5 2.5 0 0 1-2.429 1.895H5.29l-0.672-1.341A1.5 1.5 0 0 0 3.5 10H2a1 1 0 1 1 0-2h1.5a.5.5 0 0 1 .416.777l-1.5 3a.5.5 0 0 1-.416.223H1.5a.5.5 0 0 1-.5-.5V0.5zM4.5 13a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                    Carrito
                </a>
            </div>
            
        </div>
        <div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/logout" class="nav-link"  style="color: white;">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav><br>
    <div class="container">
        <div class="prueba5">
            <img src="<%=producto.RutaImagen %>" alt="Producto">
            <h2 ><%=producto.Nombre %> en Medida de <%=producto.Medida %></h2>
            <p >L. <%=producto.Precio %></p>

            <div>
                <h4>Detalles del Vendedor</h4>
                <p>Nombre: <%=producto.PrimerNombre  %><%= producto.PrimerApellido %></p>
                <p>Email: <%=producto.Email  %></p>
                <p>Telefono: <%=producto.NumeroTelefono  %></p>
                
            </div>
            <form action="/agregarProductoCarrito" method="post">
                <div>
                    <label for="quantity">Cantidad:</label>
                    <input name="cantidad" type="number" id="cantidad" value="1" min="1">
                    <input type="hidden" name="ProductoID" value="<%=producto.ProductoID %>">
                    <input type="hidden" name="PrecioProducto" value="<%=producto.Precio %>">

                </div>
                <button type="submit" class="btn btn-primary">Agregar al carrito</button><br> 
            </form>
            <br>
            <a
             class="btn btn-primary" href="/principalCliente" > Regresar </a> </div>
        </div>
      
    </div>

</body>
</html>